.feature-card{
    width:20rem;
    
}
.features-border{
   border: none;
   outline: none;
}
.feature-para{
    
    font-size: smaller;
}
.proj{
    background-color: rgb(177, 185, 221);
}
.bor{
    background-color: rgb(177, 185, 221);
}